html {
    font-size: 25px;
}
div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-border-box {
    background-color: aquamarine;
    box-sizing: border-box;
    font-size: 16px;
}

.sem-border-box {
    background-color: brown;
    font-size: 16px;
}